<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0  font-weight-normal">KAKA;)</h5>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <span class="me-3 py-2 text-dark text-decoration-none" ><%= link_to "Главнвя страница", home_path %></span>
        <% if user_signed_in? %>
          <span class="me-3 py-2 text-dark text-decoration-none" ><%= link_to "Виход",destroy_user_session_path, method: :delete  %></span>
        <% else %>
      <span class="me-3 py-2 text-dark text-decoration-none" ><%= link_to "Вход",new_user_session_path  %></span>
<span class="me-3 py-2 text-dark text-decoration-none" ><%= link_to "Регистрация",new_user_registration_path  %></span>
<% end %>
      </nav>

      <span  class=" btn btn-primary ><%= link_to "Добавление статьи", new_post_path %></span>

    </div>
<div class='container'>

<%= yield %>
</div>
  </body>
</html>
